name: Publish Bitso libraries to GitHub Packages

# This workflow is based on bitso libraries from versions.gradle.
# Please, do the followings to make this work:
#   1. Add 'gradle/publish.gradle' script inside libraries' build.gradle.
#   2. Add your new library inside 'bitso' block in versions.gradle.
# Finally, the trigger only happens if build.gradle has changed.

# How does this workflow work:
# - Gets libraries from the bitso block of versions.gradle.
# - Gets the affected packages from the PR and compares them to the libraries in versions.gradle.
# - If there is any match between the affected libraries and packages (build.gradle),
#   publishes the package. If the 'version' in build.gradle remains the same,
#   we'll experience a 409 Conflict error.
# - All of this mentioned above will happen after merge.

on:
  pull_request:
    branches:
    -  master
    paths:
    - '**/build.gradle'
  push:
    branches: 
    - master
    paths:
    - '**/build.gradle'

env:
  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

jobs:
  
  publish:
    name: publish
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        # This is required because we don't want nested repositories
        # in the same workspace
        with:
          path: crypto-common-protobuf

      - name: Set up JDK 17
        uses: actions/setup-java@v2
        with:
          java-version: "17"
          distribution: "adopt"

      - name: Publish with Gradle
        if: ${{ github.ref == 'refs/heads/master' }}
        run: ./gradlew publish 
        working-directory: crypto-common-protobuf
        env:
          GITHUB_TOKEN: ${{ secrets.PUBLISH_ARTIFACTS_TOKEN }}
      
      - name: Dry-run Publish with Gradle
        if: ${{ github.event_name == 'pull_request'}}
        run: ./gradlew publish --dry-run
        working-directory: crypto-common-protobuf
        env:
          GITHUB_TOKEN: ${{ secrets.PUBLISH_ARTIFACTS_TOKEN }}