name: Publish Bitso libraries to GitHub Packages

on:
  pull_request:
    branches:
    - master

  push:
    branches: 
    - master


env:
  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

jobs:
  publish:
    name: publish
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        # This is required because we don't want nested repositories
        # in the same workspace
        with:
          path: crypto-common-protobuf

      - name: Set up JDK 17
        uses: actions/setup-java@v2
        with:
          java-version: "17"
          distribution: "adopt"

      - name: Publish with Gradle
        if: ${{ github.ref == 'refs/heads/master' }}
        run: ./gradlew publish 
        working-directory: crypto-common-protobuf
        env:
          GITHUB_TOKEN: ${{ secrets.PUBLISH_ARTIFACTS_TOKEN }}
      
      - name: Dry-run Publish with Gradle
        if: ${{ github.event_name == 'pull_request'}}
        run: ./gradlew publish --dry-run
        working-directory: crypto-common-protobuf
        env:
          GITHUB_TOKEN: ${{ secrets.PUBLISH_ARTIFACTS_TOKEN }}